
body {
    font-family: Open Sans !important;
}

.navtext {
    padding: 10px 20px 10px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 white;
}

#canvas img {
    max-width: none !important;
}

